.similarHome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 11px;
  width: 22.7%;
  cursor: pointer;
}

.thumbnailContainer {
  height: 160px;
  width: 224px;
  display: block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 160px;
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.2);
  transition: all 0.45s ease;
  border-radius: 8px;
}

.heartContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px;
  cursor: pointer;
  z-index: 100;
}

.new {
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgb(5, 34, 134);
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 2px 4px;
  margin: 8px;
  cursor: default;
  position: absolute;
z-index: 100;
}

.priceRow {
  display: flex;
  margin-top: 5px;
  align-content: center;
}

.price {
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  margin-right: 8px;
}

.priceChange {
  position: relative;
  margin-top: 3px;
  margin-right: 55%;
}

.bbs {
  display: flex;
  width: 100%;
  align-items: center;
  -webkit-box-align: center;
}

.beds {
  display: flex;
  align-items: center;
}

.baths {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.sqft {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.city {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}