.slider {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  width: 100%;
  max-width: 960px;
  overflow: auto;
  transition: transform 0.6s ease 0s;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
 display: none;
}

.shContainer {
  width: 100%;
  height: 260px;
  max-width: 960px;
  display: flex;
  position: relative;
  align-items: center;
}

.leftBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 32px;
  margin-top: 2%;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid grey;
  z-index: 1000;
  background-color: white;
  margin-bottom: 52px;
}

.rightBtn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 32px;
  border-radius: 100%;
  margin-top: 2%;
  border: 1px solid grey;
  z-index: 1000;
  background-color: white;
  margin-bottom: 52px;
}

.one {
  transform: translateX(0);
  transition: transform 0.6s ease 0s;
}

.two {
  transform: translateX(-960px);
  transition: transform 0.6s ease 0s;
}

.three {
  transform: translateX(-1920px);
  transition: transform 0.6s ease 0s;
}

.four {
  transform: translateX(-2880px);
  transition: transform 0.6s ease 0s;
}

.hide {
  opacity: 0;
  transition-delay: .5s;
}

.show {
  opacity: 1;
  transition-delay: .5s;
}

.similarHome {
  display: flex;
  flex-direction: column;
  margin: 0 11px;
  width: 22.7%
}

.thumbnailContainer {
  height: 160px;
  width: 224px;
  display: block;
  position: relative;
  overflow: hidden;
}

.seeMore {
  border-radius: 8px;
  min-width: 224px;
  background-color: rgb(232, 233, 234);
  overflow: hidden;
}

.signContainer {
  margin: 9px;
}

.takeALookBtn {
  margin: 0px 0px 4px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  margin: -9px 9px;
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 120, 130);
  border-color: transparent;
  position: relative;
}

.bold {
  font-family: "TruliaSansBold", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  margin: 0px 9px;
}

.regular {
  font-family: "TruliaSans", system, -apple-system, Roboto, Segoe UI Bold, Arial, sans-serif;
  margin: 0px 9px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;

}
